
section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    height: 339px;
    width: 100%;

    >img {
        max-width: 620px;
        width: 100%;
        min-width: 300px;
        height: 100%;
        object-fit: contain;
    }

    >div {
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 513px;
    }
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h3 {
    margin: 0;
    color: #9747FF;
    font-size: 32px;
    font-weight: 700;
}

h4 {
    margin: 0;
    color: #70E61C;
    font-size: 23px;
    font-weight: 400;
}

p {
    margin: 0;
    color: white;
    font-size: 16px;
}

.project-btns-container {
    display: flex;
    gap: 86px;
}

a {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    color: white;
    font-size: 23px;
    transition: background-color 0.1s;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: #70E61C;
    }
}

.test-btn {
    background-color: #9747FF;
    border: none;
}

.github-btn {
    background-color: transparent;
    border: 1px solid #70E61C;
    display: flex;
    align-items: center;
}

@media screen and (min-device-width: 300px) and (max-device-width: 400px) { 

    section {
        flex-direction: column;
        height: 700px;
        >div {
            align-items:center ;
        }
        >img {
            max-width: 400px;
        }
    }
    .portfolio-headline-container {
        padding-bottom: 0;
    }
}
@media screen and (min-device-width: 400px) and (max-device-width: 500px) { 

    section {
        flex-direction: column;
        height: 700px;
        >div {
            align-items:center ;
        }
        >img {
            max-width: 400px;
        }
    }
    .portfolio-headline-container {
        padding-bottom: 0;
    }
}
@media screen and (min-device-width: 500px) and (max-device-width: 600px) { 

    section {
        flex-direction: column;
        height: 700px;
        >div {
            align-items:center ;
        }
        >img {
            max-width: 400px;
        }
    }
    .portfolio-headline-container {
        padding-bottom: 0;
    }
}
@media screen and (min-device-width: 600px) and (max-device-width: 700px) { 

    section {
        flex-direction: column;
        height: 700px;
        >div {
            align-items:center ;
        }
        >img {
            max-width: 400px;
        }
    }
    .portfolio-headline-container {
        padding-bottom: 0;
    }
}

@media screen and (min-device-width: 700px) and (max-device-width: 800px) { 

    section {
        flex-direction: column;
        height: 700px;
        >div {
            align-items:center ;
        }
        >img {
            max-width: 400px;
        }
    }
    .portfolio-headline-container {
        padding-bottom: 0;
    }
}
@media screen and (min-device-width: 800px) and (max-device-width: 900px) { 

    section {
        flex-direction: column;
        height: 700px;
        >div {
            align-items:center ;
        }
        >img {
            max-width: 400px;
        }
    }
    .portfolio-headline-container {
        padding-bottom: 0;
    }
}