@media screen and (min-width: 300px) and (max-width: 500px) {
    section {
        display: flex;
        justify-content: center;    
    }
    .about-me-container {
        width: 90%;
        padding-left: 0;
    }
    .me {
        width: 100%;
        padding-right: 0 !important;
        >span{
          font-size: 55px;
        }
    }
.img-from-me {
    display: none;
}
}



@media screen and (min-width: 500px) and (max-width: 700px)  {
    section {
        display: flex;
        justify-content: center;    
    }
    .about-me-container {
        width: 90%;
        padding-left: 0;
    }
    .me {
        width: 100%;
        padding-right: 0 !important;
        >span{
            font-size: 75px;
        }
    }
    .img-from-me {
        display: none;
    }
    }



@media screen and (min-width: 700px) and (max-width: 900px)  {
    section {
        display: flex;
        justify-content: center;    
    }
    .about-me-container {
        width: 90%;
        padding-left: 0;
    }
    .me {
        width: 100%;
        padding-right: 0 !important;
    }
.img-from-me {
    display: none;
}
}

@media screen and (min-width: 900px) and (max-width: 1100px)  {
    section {
        display: flex;
        justify-content: center;    
    }
    .about-me-container {
        width: 90%;
        padding-left: 0;
    }
    .me {
        width: 100%;
        padding-right: 0 !important;
    }
.img-from-me {
    display: none;
}
}
@media screen and (min-width: 1100px) and (max-width: 1300px)  {
    .green-line {
        width: 100px;
    }
    .green-circle {
        height: 300px;
        width: 300px;
 
    }
}

@media  (min-width: 1300px) and (max-width: 1500px)  {
    .green-line {
        width: 100px;
    }
}

@media (min-width: 1921px) {
    section {
        max-width: 1920px;
        margin: 0 auto;
    }
}