

section {
    color: #fff;
    padding-top: 160px;
    padding-bottom: 278px;
    position: relative;
}
.about-me-container{
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    position: relative;
}
.about-me-bgc{
    position: absolute;
    right: -450px;
    top: -250px;
    z-index: 4;
}

.me {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    >span {
        font-weight: 700;
        font-size: 90px;
    }
    >p{
        margin: 0;
        font-size: 16px;
    }
}
.infos{
    display: flex;
    gap: 35px;
    align-items: flex-start;
    >img {
        cursor: pointer;

        &:hover {
            scale: (1.5);
        }
    }
}
.img-from-me{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0;
}


.green-circle{
    height: 453px;
    width: 453px;
    border: 4px solid #70E61C;
    border-radius: 100%;
    >img {
        height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
    }
}
.green-line{
    background-color: #70e61c;
    width: 267px;
    height: 4px;
    border: none;
}


@media screen and (min-device-width: 300px) and (max-device-width: 400px) { 
    .img-from-me {
        display: none;
    }
    .me {
        width: 80vw;
    }
    .about-me-container {
        gap: 60px;
    }
}

@media screen and (min-device-width: 400px) and (max-device-width: 500px) { 
    .img-from-me {
        display: none;
    }
    .me {
        width: 80vw;
    }
    .about-me-container {
        gap: 60px;
    }
}
@media screen and (min-device-width: 500px) and (max-device-width: 600px) { 
    .img-from-me {
        display: none;
    }
    .me {
        width: 80vw;
    }
    .about-me-container {
        gap: 60px;
    }
}
@media screen and (min-device-width: 600px) and (max-device-width: 700px) { 
    .img-from-me {
        display: none;
    }
    .me {
        width: 80vw;
    }
    .about-me-container {
        gap: 60px;
    }
}
@media screen and (min-device-width: 700px) and (max-device-width: 800px) { 
    .img-from-me {
        display: none;
    }
    .me {
        width: 80vw;
    }
    .about-me-container {
        gap: 60px;
    }
}

@media screen and (min-device-width: 800px) and (max-device-width: 900px) { 
    .img-from-me {
        display: none;
    }
    .me {
        width: 80vw;
    }
    .about-me-container {
        gap: 60px;
    }
}
@media screen and (min-device-width: 900px) and (max-device-width: 1000px) { 
    .green-circle {
        height: 300px;
        width: 300px;
    }
    .green-line {
        width: 100px;

    }
    .about-me-container {
        gap: 60px;
    }
}
@media screen and (min-device-width: 1000px) and (max-device-width: 1160px) { 
    .green-circle {
        height: 300px;
        width: 300px;
    }
    .green-line {
        width: 170px;

    }
}