
section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    height: auto;
    max-width: 1920px;
}

.background-shadow-contact {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: 1;
    z-index: -1;
    top: 454%;
}


.background-shadow-contact-two {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 373%;
    transform: 1;
    z-index: 0;
    display: none;
}
.headline {
    display: flex;
align-content: center;
gap: 20px;
width: 580px;
}
.contact-container {
    display: flex;
    gap: 150px;
    color: white;
    justify-content: space-between;
    width: 75%;

    >div {
        display: flex;
    }
}

.purple-line {
    margin-top: 64px;
    background-color: #9747FF;
    width: 50%;
    height: 4px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    left: 0;
}

p {
    margin: 0;
}

.contact-left-container {
    padding-left: 50px;
}

.contact-headline {
    font-weight: 700;
    font-size: 90px;
    padding-bottom: 85px;
    color: white;
}

.contact-question {
    font-weight: 700;
    font-size: 32px;
}

.font-size-16 {
    font-size: 16px;
}

app-contactform {
    margin-top: 230px;
}

a {
    height: 39px;
    width: 39px;
    margin-bottom: 90px;
    margin-right: 100px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(130%) contrast(105%);
    z-index: 1;
    
    &:hover {
        cursor: pointer;
        filter: none;
    }
}

// .fade-section {
//     opacity: 0;
//     transform: translateX(+100%);
//     transition: opacity 1s ease-out, transform 1s ease-out;

//   }
  
//   .fade-in {
//     opacity: 1;
//     transform: translateX(0);
  
//   }
//   .d-flex {
//     display: flex !important;
//   }
  
//   .d-none {
// display: none;
//   }


