<section>
    <div class="logo-container">
        <div class="name-logo">
            <span class="letter">B</span>
            <span class="letter">e</span>
            <span class="letter">k</span>
            <span>i</span> 
            <span class="letter special">r</span>
        </div>
    </div>
        
        <div class="menu-links">
           <div class="header-button"> <a href="http://" class="my-links">About me</a></div>
            <div class="header-button"><a href="http://" class="my-links">Skills</a></div>
           <div class="header-button"> <a href="http://" class="my-links">Portfolio</a></div>
        </div>
        <div class="burger-menu d-None"></div>
</section>
  