<div class="content padding margin-top">
  <h1>{{ 'PrivacyPolicyTitle' | translate }}</h1>
  <h2>{{ 'DataProtectionOverview' | translate }}</h2>
  <h3>{{ 'GeneralInformation' | translate }}</h3>
  <p>
    {{ 'PersonalDataOverview' | translate }}
  </p>
  <h3>{{ 'DataCollectionTitle' | translate }}</h3>
  <h4>{{ 'ResponsibleForDataCollection' | translate }}</h4>
  <p>
    {{ 'DataProcessingOperator' | translate }}
  </p>
  <h4>{{ 'HowWeCollectData' | translate }}</h4>
  <p>
    {{ 'DataCollectionByUser' | translate }}
  </p>
  <p>
    {{ 'AutomaticDataCollection' | translate }}
  </p>
  <h4>{{ 'PurposeOfDataUse' | translate }}</h4>
  <p>
    {{ 'DataUsagePurpose' | translate }}
  </p>
  <h4>{{ 'YourRightsRegardingData' | translate }}</h4>
  <p>
    {{ 'InformationRights' | translate }}
  </p>
  <p>
    {{ 'DataCorrectionDeletionRights' | translate }}
  </p>
  <p>
    {{ 'ConsentRevocationRights' | translate }}
  </p>
  <p>
    {{ 'DataProcessingRestrictionRights' | translate }}
  </p>
  <p>
    {{ 'ComplaintRights' | translate }}
  </p>
  <p>
    {{ 'ContactForDataProtectionQuestions' | translate }}
  </p>
  <h3>{{ 'AnalysisToolsTitle' | translate }}</h3>
  <p>
    {{ 'SurfingBehaviorAnalysis' | translate }}
  </p>
  <p>
    {{ 'AnalysisProgramsDetails' | translate }}
  </p>
  <h2>{{ 'HostingTitle' | translate }}</h2>
  <p>{{ 'HostingProviderIntroduction' | translate }}</p>
  <h3>{{ 'AllInklTitle' | translate }}</h3>
  <p>
    {{ 'AllInklProviderDetails' | translate }}
    <a
      href="https://all-inkl.com/datenschutzinformationen/"
      target="_blank"
      rel="noopener noreferrer"
    >{{ 'AllInklPrivacyPolicyLink' | translate }}</a>.
  </p>
  <p>
    {{ 'AllInklUsageBasis' | translate }}
  </p>
</div>