.background-shadow-contact {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: 1;
    z-index: -1;
}


#contact {
    display: flex;
    justify-content: center;
        width: 90%; 
}


.green-line{
    background-color: #70e61c;
    width: 267px;
    height: 4px;
    border: none;
}

// @media screen and  (min-width: 1920px){

//     .app-content {
//         margin: 0 auto;
//     max-width: 1920px;
//     overflow-x: hidden;
//     }
// }